html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.search-condition {
  margin-bottom: 10px;
}
.report-content {
  width: 100%;
  height: 90%;
  resize: none;
  margin-top: 10px;
}
#app {
  height: 100vh;
}

.main-content {
  width: 100%;
  height: 100%;
}

.main-view-component {
  height: 95%;
}
.w3-main,
.main-container,
.report-container,
.report-content-container {
  height: 100%;
}
.label-input-datetime {
  font-size: large;
  margin-right: 20px;
}

#btn-login {
  margin-top: 10px;
}
